<header class="header">
  <h1>header</h1>
  <nav>
    <ul>
      <li><a href="#">Lorem, ipsum dolor.</a></li>
      <li><a href="#">Veniam, nemo consectetur!</a></li>
      <li><a href="#">Quasi, cum voluptatum!</a></li>
      <li><a href="#">Quod, rerum in!</a></li>
      <li><a href="#">Placeat, assumenda blanditiis.</a></li>
    </ul>
  </nav>
</header>